@font-face {
  font-family: 'Museo-Sans-300';
  src: url('../../public/fonts/museo-sans-300.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo-Sans-500';
  src: url('../../public/fonts/museo-sans-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
