@import "shared.scss";

.Container {
  background: $white;
  height: 72px;
  border-bottom: $border-small solid $secondary-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.125em 0.25em rgba(0,0,0,.2);
}

.LogoWrapper {
  width: 156px;
  display: block;
}

.Logo {
  width: 100%;
}
