@import "shared.scss";

.Wrapper {
  display: flex;
  justify-content: space-between;
}

.Cards {
  width: 48%;
}

.Logo {
  height:28px;
  margin: $xxs;
  vertical-align: middle;
}

.Image {
  width: 100%;
  display: block;
}

.Price {
  font-family: $text-bold-font-stack;
  font-size: $font-medium;
  padding: $sm;
}
