@import "shared.scss";

.Wrapper {
  display: flex;
  justify-content: space-between;
}

.Cards {
  width: 48%;
}

.Logo {
  height:28px;
  margin: $xxs;
  vertical-align: middle;
}

.Image {
  width: 100%;
  display: block;
}

.Price {
  font-family: $text-bold-font-stack;
  font-size: $font-medium;
  padding: $sm;
}

.Button {
  transition: all .1s ease-in;
  opacity: 0;
  visibility: hidden;
  background: $primary-red;
  border-radius: $border-large;
  position: absolute;
  bottom: 70px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: $xxs $md;
  color: $white;
  width: 80%;
  text-align: center;
  font-size: $font-medium;
  cursor: pointer;
}

.ButtonHover {
  composes: Button;
  visibility: visible;
  opacity: 1;
}
